<section class="bg-[#FCF9F1] py-5 font-foundersGrotesk text-[#193C6A] md:py-7">
  <div class="container relative">
    <img
      src="{{ 'sniff_out_our_latest.png' | file_img_url: 'master' }}"
      alt="Sniff Out Our Latest Dog Products"
      class="hidden w-full rounded-[20px] object-cover md:block"
    >
    <img
      src="{{ 'sniff_out_our_latest_mobile.png' | file_img_url: 'master' }}"
      alt="Sniff Out Our Latest Dog Products"
      class="block w-full rounded-[20px] object-cover md:hidden"
    >
    <div class="absolute left-1/2 top-0 flex -translate-x-1/2 flex-col items-center justify-center gap-4 py-[25vw] md:translate-y-1/2 md:justify-center md:py-0">
      <h2 class="text-balance text-center font-titanOne text-[clamp(25px,2.5vw,35px)] uppercase leading-[clamp(30px,2.5vw,35px)] md:w-full">
        Sniff Out Our Latest Products
      </h2>
      <a href="https://www.instagram.com/buddybites.sg/" class="btn-cta"> @buddybites.sg </a>
    </div>
  </div>
</section>
