<h1 class="text-center text-[10vw] tracking-widest text-[#193C6B] en:font-heyCharlie lg:text-[clamp(50px,5vw,95px)]">
  {{ 'products.product.reviews' | t }}
</h1>
<div id="klaviyo-reviews-all" data-id="all" class="container"></div>
{% schema %}
{
  "name": "Reviews",
  "settings": [],
  "blocks": []
}
{% endschema %}
