<main class="font-foundersGrotesk bg-[#FCF9F1]">
  <!-- Hero -->
  <section>
    <div class="relative w-full">
      <img src="{{ 'about-us-hero.png' | file_url }}" alt="About Us Hero" class="w-full object-cover">
      <div class="absolute left-1/2 top-[5%] -translate-x-1/2 lg:left-[15%] lg:top-1/2 lg:-translate-y-1/2  lg:translate-x-0">
        <h1 class="text-[20px] text-white lg:text-[40px]">
          Buddy Bites redefines pet nutrition in through uncompromising quality, balanced science, and nourishment dogs
          truly deserve.
        </h1>
      </div>
    </div>
  </section>
  <!-- Our Story -->
  <section>
    <div class="container">
      <h2>About Us</h2>
    </div>
  </section>
</main>
{% schema %}
{
  "name": "Shelter Pawtners",
  "settings": []
}
{% endschema %}
