<div class="homepage-indiv-section-wrapper grid--full">
  <div class="text-block">
    <h3>Shipping &amp; Returns</h3>
    <div class="block">
      <strong>Shipping</strong>
      <p>
        Buddy Bites currently only delivers to Hong Kong, however if you would like us to expand to your location,
        please let us know by emailing us at <a href="mailto:info@buddybites.dog">info@buddybites.dog</a>
      </p>
      <p>We offer FREE delivery services on orders over $250 with the below timeframe:</p>
      <table>
        <tr>
          <td>Hong Kong Island</td>
          <td>1-2 business days</td>
        </tr>
        <tr>
          <td>Kowloon</td>
          <td>2-3 business days</td>
        </tr>
        <tr>
          <td>New Territories</td>
          <td>2-3 business days</td>
        </tr>
        <tr>
          <td>Discovery Bay, Tung Chung, Ma Wan, Lamma, Peng Chau, Park Island, Lantau</td>
          <td>2-3 business days</td>
        </tr>
      </table>
      <p>
        (Note* Same-Day Delivery is available for Hong Kong Island, Kowloon and New Territories (excluding restricted
        areas) only for $60 delivery fee)
      </p>
      <p>
        If you have any questions on delivery please email <a href="mailto:info@buddybites.dog">info@buddybites.dog</a>
      </p>
    </div>
    <div class="block">
      <strong>Returns &amp; Refunds</strong>
      <p>
        If you consider any of your received items to be defective, before sending it back to us, kindly send an email
        to info@buddybites.dog Provide us a brief description of the current condition or defects of the item, as well
        as photographic details if you feel that it is relevant. Shipping faulty items back to us may not always be
        necessary as we evaluate everything on a case to case basis.
      </p>
      <p>For items to be eligible for refund, please be reminded of the following:</p>
      <ol>
        <li>Items must be returned within 14 days upon receipt. This includes return transit time to our warehouse.</li>
        <li>If possible, please return the original bill paperwork with your items.</li>
        <li>
          Return of items will be shouldered by the customer. We highly recommend that you use your domestic postal
          service on a standard shipping method. It is also recommended that you obtain proof of postage and keep your
          paperwork until we have acknowledged receipt of your package.
        </li>
        <li>
          The returns parcel remains your responsibility until the package has been received and booked back into our
          warehouse. Once we have received your parcel and it has been processed, you will be informed of what action is
          being taken.
        </li>
        <li>Returns may take 4-6 days to process once our warehouse has received the returned items.</li>
        <li>Once the item/s have been returned to stock, your refund will be sent.</li>
        <li>
          Buddy Bites reserves the right to return the items to you based on any of the terms outlined in our policy.
          All items will be returned to you in the same condition they are received in.
        </li>
        <li>
          Buddy Bites will come to your place to pick up the returned product, so you won't bare any shipping cost.
        </li>
      </ol>
    </div>
  </div>
</div>

<style>
  .text-block h3 {
    font-weight: bold;
    font-size: 16px !important;
    margin: 4vw 0;
  }
  table {
    width: 60%;
    margin: 2vw 20%;
  }
  .block {
    margin-bottom: 3vw;
  }
  @media (max-width: 768px) {
    table {
      width: 80%;
      margin: 2vw 10%;
    }
    .text-block h3 {
      margin: 8vw 0;
    }
    .block {
      margin-bottom: 8vw;
    }
  }
</style>

{% schema %}
{
  "name": "Shipping & Returns",
  "settings": []
}
{% endschema %}
